<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Rango says...hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says...hello!</h1>
        {% endif %}

        {% if most_visited_pages %}
        <h3>Most Visited Pages:</h3>
        <ul>
            {% for page in most_visited_pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if categories %}
        <h3>Categories:</h3>
        <ul>
            {% for cat in categories %}
            <li><a href="/rango/category/{{ cat.slug }}">{{ cat.name }}</a></li>
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        {% if user.is_authenticated %}

            <a href='/rango/restricted/'>Restricted Page</a><br />
            <a href='/rango/logout/'>Logout</a><br />
        {% else %}
            <a href='/rango/register/'>Register Here</a><br />
            <a href='/rango/login/'>Login</a><br />
        {% endif %}

        <a href="/rango/about/">About</a><br />
        <a href="/rango/add_category/">Add a New Category</a><br />
        <img src="{% static "images/rango.png" %}" alt="Picture of Rango" /> <!-- New line -->
    </body>

</html>